In [27]:
import pandas as pd
import requests, zipfile, io

In [28]:
# Extract the zip file from the url and unzip it
r = requests.get('https://www.nseindia.com/content/historical/EQUITIES/2018/JAN/cm03JAN2018bhav.csv.zip')
z = zipfile.ZipFile(io.BytesIO(r.content))

In [29]:
df = pd.read_csv(z.open('cm03JAN2018bhav.csv'))

In [30]:
df[df['SYMBOL']=='TCS']

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
1659,TCS,EQ,2632.0,2669.0,2631.2,2638.65,2639.0,2631.2,628560,1.665186e+09,03-JAN-2018,32104,INE467B01029,NaN

In [32]:
df['TIMESTAMP'].head()

0    03-JAN-2018
1    03-JAN-2018
2    03-JAN-2018
3    03-JAN-2018
4    03-JAN-2018
Name: TIMESTAMP, dtype: object

In [25]:
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'], format='%d-%b-%Y')

In [26]:
df['TIMESTAMP'].head()

0   2018-01-03
1   2018-01-03
2   2018-01-03
3   2018-01-03
4   2018-01-03
Name: TIMESTAMP, dtype: datetime64[ns]